<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Job Portal</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <!-- <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico"> -->

    <!-- CSS here -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="css/price_rangs.css">
    <link rel="stylesheet" href="css/slicknav.css">
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/fontawesome-all.min.css">
    <link rel="stylesheet" href="css/themify-icons.css">
    <link rel="stylesheet" href="css/slick.css">
    <link rel="stylesheet" href="css/nice-select.css">
    <link rel="stylesheet" href="css/user-dashboard.css">
</head>

<body>

    <header>
        <!-- Header Start -->
        <div class="header-area header-transparrent">
            <div class="headder-top header-sticky">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-3 col-md-2">

                        </div>
                        <div class="col-lg-9 col-md-9">
                            <div class="menu-wrapper">
                                <!-- Main-menu -->
                                <div class="main-menu">
                                    <nav class="d-none d-lg-block">
                                        <ul id="navigation">
                                            <li><a href="/userDashboard">Home</a></li>
                                            <li><a href="/userJobListing">Find a Job </a></li>
                                            <li><a href="/userProfile">Profile</a></li>

                                        </ul>
                                    </nav>
                                </div>
                                <!-- Header-btn -->
                                <span class="btn head-btn1">TrueCV</span>
                            </div>
                        </div>
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->
    </header>
    <main>

        <!-- Hero Area Start-->
        <div class="slider-area ">
            <div class="single-slider section-overly slider-height2 d-flex align-items-center"
                data-background="images/img-04.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap text-center">
                                <h2>Get your job</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hero Area End -->
        <!-- Job List Area Start -->
        <div class="job-listing-area pt-120 pb-120">
            <div class="container">
                <div class="row">
                    <!-- Right content -->
                    <div class="col-xl-9 col-lg-9 col-md-8">
                        <!-- Featured_job_start -->
                        <section class="featured-job-area">
                            <div class="container">

                                <% for(var i=0; i < results.length; i++) { %>
                                    <!-- single-job-content -->
                                    <div class="single-job-items mb-30">
                                        <div class="job-items">
                                            <div class="job-tittle job-tittle2">
                                                <a href="#">
                                                    <h4>
                                                        <%= results[i].company_name %>
                                                    </h4>
                                                </a>
                                                <ul>
                                                    <li>#JobID: <%= results[i].job_post_id %>
                                                    </li>
                                                    <li>
                                                        <%= results[i].business_stream %>
                                                    </li>
                                                    <li><i class="fas fa-map-marker-alt"></i>
                                                        <%= results[i].job_location %>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="items-link items-link2 f-right">
                                            <a
                                                href="/userJobDetails?id=<%=results[i].job_post_id %>&comp=<%=results[i].company_id%> ">
                                                <%= results[i].job_type %>
                                            </a>
                                            <span>
                                                <%= results[i].end_date %>
                                            </span>
                                        </div>
                                    </div>
                                    <% } %>
                            </div>
                        </section>
                        <!-- Featured_job_end -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Job List Area End -->


    </main>


    <!-- All JS Custom Plugins Link Here here -->
    <script src="./js/vendor/modernizr-3.5.0.min.js"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script src="./js/vendor/jquery-1.12.4.min.js"></script>
    <script src="./js/popper.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <!-- Jquery Mobile Menu -->
    <script src="./js/jquery.slicknav.min.js"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="./js/owl.carousel.min.js"></script>
    <script src="./js/slick.min.js"></script>
    <script src="./js/price_rangs.js"></script>

    <!-- One Page, Animated-HeadLin -->
    <script src="./js/wow.min.js"></script>
    <script src="./js/animated.headline.js"></script>
    <script src="./js/jquery.magnific-popup.js"></script>

    <!-- Scrollup, nice-select, sticky -->
    <script src="./js/jquery.scrollUp.min.js"></script>
    <script src="./js/jquery.nice-select.min.js"></script>
    <script src="./js/jquery.sticky.js"></script>

    <!-- contact js -->
    <script src="./js/contact.js"></script>
    <script src="./js/jquery.form.js"></script>
    <script src="./js/jquery.validate.min.js"></script>
    <script src="./js/mail-script.js"></script>
    <script src="./js/jquery.ajaxchimp.min.js"></script>

    <!-- Jquery Plugins, main Jquery -->
    <script src="./js/plugins.js"></script>
    <script src="./js/user-dashboard.js"></script>

</body>

</html>