<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Job Portal</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="vendors/feather/feather.css">
    <link rel="stylesheet" href="vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="vendors/datatables.net-bs4/dataTables.bootstrap4.css">
    <link rel="stylesheet" href="vendors/ti-icons/css/themify-icons.css">

    <!-- <link rel="stylesheet" type="text/css" href="js/select.dataTables.min.css"> -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="css/vertical-layout-light/style.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <!-- endinject -->

</head>

<body>
    <div class="container-scroller">
        <nav class="navbar col-lg-12 col-12 fixed-top d-flex flex-row" style="background: white;">

            <h3 class="font-weight-bold" style="padding-left: 2em;color:#4B49AC;">True CV</h3>
            <br><br>
        </nav>
        <div class="container-fluid page-body-wrapper">

            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/companyDashboard">
                            <i class="icon-grid menu-icon"></i>
                            <span class="menu-title">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" data-toggle="collapse" href="javascript:void(0)" aria-expanded="false"
                            aria-controls="ui-basic">
                            <i class="icon-layout menu-icon"></i>
                            <span class="menu-title">Job Openings</span>
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="/companyJobPostNew">
                            <i class="icon-paper menu-icon"></i>
                            <span class="menu-title">Post A New Job</span>
                        </a>
                    </li>
                </ul>
            </nav>
            <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="row">
                        <div class="col-lg-12 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">


                                    <div class="table-responsive">
                                        <h4 class="card-title">Find All Job Postings Here</h4>
                                        <table class="table table-hover" id="tableID">
                                            <thead>
                                                <tr class="a">
                                                    <th class="text-primary">Job Post Id</th>
                                                    <th class="text-primary">Job Type</th>
                                                    <th class="text-primary">Created Date</th>
                                                    <th class="text-primary">End Date</th>
                                                    <th class="text-primary">Get Applicants Details</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% for(var i=0; i < all_postings.length; i++) { %>

                                                    <tr>
                                                        <td>
                                                            <%= all_postings[i].job_post_id %>
                                                        </td>
                                                        <td>
                                                            <%= all_postings[i].job_type %>
                                                        </td>
                                                        <td>
                                                            <%= all_postings[i].created_date %>
                                                        </td>
                                                        <td>
                                                            <%= all_postings[i].end_date %>
                                                        </td>
                                                        <td>
                                                            <a href="/companyJobPostingsApplied?id=<%= all_postings[i].job_post_id %>"
                                                                class="b btn btn-outline-primary btn-sm"
                                                                id="<%= all_postings[i].job_post_id %>">
                                                                Click Here</a>
                                                            <br>
                                                            <br><br>
                                                        </td>

                                                    </tr>


                                                    <% } %>
                                                        <!-- <tr>
                                                    <td>Jacob</td>
                                                    <td>Photoshop</td>
                                                    <td class="text-danger"> 28.76% <i class="ti-arrow-down"></i></td>
                                                    <td><label class="badge badge-danger">Pending</label></td>
                                                </tr>
                                                <tr>
                                                    <td>Messsy</td>
                                                    <td>Flash</td>
                                                    <td class="text-danger"> 21.06% <i class="ti-arrow-down"></i></td>
                                                    <td><label class="badge badge-warning">In progress</label></td>
                                                </tr>
                                                 <tr>
                                                    <td>John</td>
                                                    <td>Premier</td>
                                                    <td class="text-danger"> 35.00% <i class="ti-arrow-down"></i></td>
                                                    <td><label class="badge badge-info">Fixed</label></td>
                                                </tr>
                                                <tr>
                                                    <td>Peter</td>
                                                    <td>After effects</td>
                                                    <td class="text-success"> 82.00% <i class="ti-arrow-up"></i></td>
                                                    <td><label class="badge badge-success">Completed</label></td>
                                                </tr>
                                                <tr>
                                                    <td>Dave</td>
                                                    <td>53275535</td>
                                                    <td class="text-success"> 98.05% <i class="ti-arrow-up"></i></td>
                                                    <td><label class="badge badge-warning">In progress</label></td>
                                                </tr> -->
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <style>
        table.dataTable thead>tr>th.sorting::before,
        table.dataTable thead>tr>th.sorting::after {
            font-size: 0em;
        }

        div.dataTables_wrapper {
            width: 70em;
            margin: 0 auto;
        }



        tr {
            height: 5em;
        }

        .a {
            height: 0.5em;
        }

        .b {
            padding: 0.75em !important;
            margin-bottom: 1em !important;
        }
    </style>
    <script>

        /* Initialization of datatable */
        $(document).ready(function () {
            $('#tableID').DataTable({ pagingType: 'full_numbers' });
        });
    </script>
    <!-- plugins:js -->
    <script src="vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="vendors/chart.js/Chart.min.js"></script>
    <script src="vendors/datatables.net/jquery.dataTables.js"></script>
    <script src="vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
    <script src="js/dataTables.select.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->

    <script src="js/hoverable-collapse.js"></script>
    <script src="js/template.js"></script>
    <script src="js/off-canvas.js"></script>
    <script src="js/settings.js"></script>
    <script src="js/todolist.js"></script>
    <!-- Custom js for this page-->
    <script src="js/dashboard.js"></script>
    <script src="js/Chart.roundedBarCharts.js"></script>
    <!-- End custom js for this page-->
</body>

</html>